body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(14, 14, 14);
}

/*Header*/
.header{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.292);
  backdrop-filter: blur(10px);
}
.comp{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}
.compname{
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}
.complogo{
  width: 25px;
  margin-left: 25px;
}
.link{
  color: grey;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 6px;
  border-radius: 5px;
}

.link:hover{
  cursor: pointer;
  transition: 0.3s;
  color: white;
}
.menubutton{
  width: 25px;
  display: none;
}
.respmenudiv{
  display: none;
}

/*page1*/
.page1{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1{
  width: 50%;
  height: 100%;
  background-color: aqua;
}
.section2{
  width: 50%;
  height: 100%;
  background-color: rosybrown;
}

@media (max-width: 900px) {
  .menubutton{
    width: 20px;
    margin-right: 12px;
    display: flex;
  }
  .comp{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .respmenubutton{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .menu{
    display: none;
  }
  .compname{
    font-size: 22px;
    color: white;
    font-weight: 600;
    margin-left: 6px;
  }
  .complogo{
    width: 20px;
    margin-left: 12px;
  }
  .respmenudiv{
    display: flex;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: black;
  }
}